*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-dark: #197a19;
    --theme-darker: #198719;
    --theme-base: #1a901a;

    --theme-red: #c11;
    --theme-black: #111;
    --theme-white: #eaeaea;

    --card-height: min(20vh, calc(100vw * 9 / 16 * 0.20));
    --card-width: calc(var(--card-height) * 0.75);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html { background-color: var(--theme-dark); }

body {
    /* Force 16/9 */
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-width: calc(100vh * 16 / 9);
    max-height: 100vh;

    display: flex;
    flex-direction: column;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--theme-base);

    overflow: hidden;
}

/* Upper content styling */
#upper-content {
    height: calc(1.2 * var(--card-height));
    background-color: var(--theme-darker);
}

/* Column styling */
#board-content {
    display: flex;
    flex: 3;
    column-gap: 3%;
    justify-content: space-evenly;
}

.column {
    display: flex;
    background-color: red;
}

/* Card styling */
.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);

    background: var(--theme-white) center 56% / 50% no-repeat;

    border: 0.025em solid var(--theme-black);
    border-radius: 0.11em;
    font-size: var(--card-height);
}

.card > p {
    position: absolute;
    top: 4%;
    left: 7%;
    color: var(--theme-black);
    font: 600 0.2em "Signika Negative", sans-serif;
    pointer-events: none;
}

.card > img {
    position: absolute;
    top: 8%;
    right: 11%;
    width: 20%;
    aspect-ratio: 1;
    pointer-events: none;
}

.card.diamonds > p,
.card.hearts > p { color: var(--theme-red) }

.card.hearts   { background-image: url("/res/hearts-icon.png");   }
.card.diamonds { background-image: url("/res/diamonds-icon.png"); }
.card.clubs    { background-image: url("/res/clubs-icon.png");    }
.card.spades   { background-image: url("/res/spades-icon.png");   }

.card.covered { background: url("/res/card-texture.png") repeat; }
.card.covered > * { display: none; }