*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-dark: #0f5f0f;
    --theme-base: #189c18;
    --theme-lighter: #22a322;
    --theme-light: #28b028;

    --theme-red-lighter: #e33;
    --theme-red-darker: #aa0808;
    --theme-red: #c11;
    --theme-black: #111;
    --theme-dark-gray: #6d6d6d;
    --theme-gray: #cfcfcf;
    --theme-white: #eaeaea;

    --theme-gold-dark: #b69b00;
    --theme-gold-base: #ffd700;
    --theme-gold-light: #ffe656;

    --card-height: min(17vh, calc(100vw * 9 / 16 * 0.17));
    --card-width: calc(var(--card-height) * 0.75);
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: var(--theme-dark);
    background-image: url("res/images/card-texture.png");
    overflow: hidden;
}

#main-content {
    /* Force 16/9 */
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-width: calc(100vh * 16 / 9);
    max-height: 100%;

    display: flex;
    flex-direction: column;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: var(--card-width);
    box-shadow:  0.1em  0.1em 0.15em #0003 inset,
                -0.1em -0.1em 0.15em #0003 inset;
    background-color: var(--theme-base);
    background-image: radial-gradient(#189c18, #0b770b);

    overflow: hidden;
}

/**************************** Upper content styling ****************************/
#upper-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(1.2 * var(--card-height));
    background-color: #0002;
}

#upper-content > * {
    --border-width: 0.025em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 calc(0.25 * var(--card-width));

    position: relative;
    width: var(--card-width);
    height: var(--card-height);

    background: var(--theme-light) center / 33% no-repeat;
    background-blend-mode: overlay, darken;

    border: var(--border-width) solid var(--theme-lighter);
    border-radius: 0.11em;
    font-size: var(--card-height);

    /* Hide border on  */
    &:has(:first-child) { border: none; }
}

/* Add images */
.foundation:nth-child(1) { background-image: url("res/images/hearts-icon-dark.png"); }
.foundation:nth-child(2) { background-image: url("res/images/diamonds-icon-dark.png"); }
.foundation:nth-child(3) { background-image: url("res/images/clubs-icon.png"); }
.foundation:nth-child(4) { background-image: url("res/images/spades-icon.png"); }

#stock { background-image: url("res/images/deck-cycle-icon.png"); background-size: 50%; }

/* Adjust placement of deck stacks */
.foundation > .card,
#waste > .card,
#stock > .card {
    position: absolute;
}

#stock { cursor: pointer; }
#stock > .card { pointer-events: none; }

/**************************** Column styling ****************************/
#board-content {
    display: flex;
    flex: 3;
    padding-top: 1%;
    justify-content: center;
}

.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(1.5 * var(--card-width));
}

/* Improve visual clarity between columns */
.tableau:not(:last-of-type)  { border-right: calc(0.02 * var(--card-width)) solid var(--theme-lighter); }
.tableau:last-of-type        { border-right: calc(0.04 * var(--card-width)) solid var(--theme-lighter); }
.tableau:not(:first-of-type) { border-left:  calc(0.02 * var(--card-width)) solid var(--theme-lighter); }
.tableau:first-of-type       { border-left:  calc(0.04 * var(--card-width)) solid var(--theme-lighter); }

.tableau > .card:not(:first-child) {
    margin-top: calc(-0.85 * var(--card-height));
}

.tableau > .card:not(.covered) ~ .card:not(.covered) {
    margin-top: calc(-0.75 * var(--card-height));
}

/**************************** Controls styling ****************************/

#controls-content {
    display: flex;
    column-gap: calc(0.5 * var(--card-width));
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;

    padding: 0.25% 3% 0 3%;
    height: 8%;

    background-color: #252422;
    background-image: linear-gradient(#252422, #1b1a19);
    border-top-left-radius: calc(0.2 * var(--card-width));
    border-top-right-radius: calc(0.2 * var(--card-width));
    opacity: 0.9;
}

#controls-content > * {
    font: 700 calc(0.25 * var(--card-width)) "Signika", sans-serif;
    text-shadow: 0.2em 0.2em 0.1em #0003;
}

#controls-content > button {
    background-color: #0000;
    border: none;
    color: var(--theme-red);
    cursor: pointer;
    transition: 0.1s color;
}

#controls-content > button:hover { color: var(--theme-red-lighter); }
#controls-content > button:active { color: var(--theme-red-darker); }

#controls-content > p { color: var(--theme-gray); }
#time-display { color: var(--theme-white) !important; }

#reset-btn { color: var(--theme-gold-base) !important; }

#reset-btn.scanning {
    background: linear-gradient(270deg, var(--theme-gold-dark) 0%, var(--theme-gold-dark) 50%, var(--theme-gold-base) 100%);
    background-clip: text;
    background-position: 100% 0;
    background-size: 200% 100%;

    color: transparent !important;
    text-shadow: none;
    animation: textScanline 1s linear -500ms;
}

#reset-tooltip {
    display: none;
    position: absolute;
    top: -1em;
    right: 1.5em;

    padding: 0.25em 0.47em;
    background-color: var(--theme-white);
    border-radius: 0.2em;

    color: var(--theme-black) !important;
    font-size: calc(0.12 * var(--card-height)) !important;
    font-weight: 600 !important;
    text-shadow: 0.1em 0.1em 0.1em #0003;

    animation: fadeIn 50ms 0s, fadeIn 250ms 2s reverse;
}

#autocomplete-btn {
    display: none;
    position: absolute;
    left: calc(50% - 4.5em);
    bottom: 4em;

    width: 9em;
    padding: 0.3em 0.4em;

    background-color: var(--theme-gray);
    border: 0.15em solid var(--theme-black);
    border-radius: 0.4em;

    color: var(--theme-black);
    font: 700 calc(0.2 * var(--card-width)) "Signika", sans-serif;
    text-shadow: 0.1em 0.1em 0.1em #0003;

    cursor: pointer;
    transition: 0.1s background-color;
}

#autocomplete-btn:hover  { background-color: var(--theme-white); }
#autocomplete-btn:active { background-color: var(--theme-gray); }

/**************************** Card styling ****************************/
.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);

    background: var(--theme-white) center 56% / 50% no-repeat;

    border: 0.025em solid var(--theme-black);
    border-radius: 0.11em;
    font-size: var(--card-height);
}

.card > p {
    position: absolute;
    top: 4%;
    left: 7%;
    color: var(--theme-black);
    font: 600 0.2em "Signika", sans-serif;
    pointer-events: none;
}

/* Cards have h2 when there are no suits */
.card > h2 {
    color: var(--theme-black);
    font: 600 0.5em "Signika", sans-serif;
    pointer-events: none;
}

.card:not(:last-child):has(h2) > h2 {
    position: absolute;
    top: 4%;
    left: 7%;
    font-size: 0.2em;
}

.card:has(h2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > img {
    position: absolute;
    top: 8%;
    right: 11%;
    width: 20%;
    aspect-ratio: 1;
    pointer-events: none;
}

.card.diamonds > p,
.card.hearts > p { color: var(--theme-red) }

.card.hearts   { background-image: url("res/images/hearts-icon.png");   }
.card.diamonds { background-image: url("res/images/diamonds-icon.png"); }
.card.clubs    { background-image: url("res/images/clubs-icon.png");    }
.card.spades   { background-image: url("res/images/spades-icon.png");   }

.card.covered { background: url("res/images/card-texture.png") repeat; }
.card.covered > * { display: none; }

.card:not(.covered) { cursor: pointer; }

.card.fish:not(.covered) {
    cursor: default !important;
    background-image: none !important;
}
.card.fish > img { transform: rotate(90deg); }

.card.fish:not(.covered)::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3%;
    left: 5%;
    background: url("res/images/spades-icon.png") center 56% / 50% no-repeat;
    transform: rotate(90deg);
    content: "";
}

/**************************** Floating card stack styling ****************************/

#moving-stack { position: absolute; }

#moving-stack > .card:not(:first-child) {
    margin-top: calc(-0.85 * var(--card-height));
}

/**************************** Win & welcome containers ****************************/

.overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;

    animation: fadeIn 500ms linear;
}

.overlay h1 {
    color: var(--theme-white);
    text-shadow: 0.1em 0.1em 0.08em var(--theme-black);
    font: 700 calc(0.75 * var(--card-width))/1.5 "Signika", sans-serif;
}

.overlay p {
    margin-bottom: 0.3em;
    color: var(--theme-gray);
    font: 600 calc(0.27 * var(--card-width)) / 1.5 "Signika", sans-serif;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.08em var(--theme-black);
}

.overlay button {
    margin-bottom: 2em;
    padding: 0.33em 0.5em;
    min-width: 4em;

    background-color: var(--theme-red);
    border: none;
    border-radius: 0.4em;
    color: var(--theme-white);
    font: 600 calc(0.3 * var(--card-width)) "Signika", sans-serif;

    cursor: pointer;
    transition: 0.1s background-color;
}

.overlay button:hover { background-color: var(--theme-red-lighter); }
.overlay button:active { background-color: var(--theme-red-darker); }

#welcome-div {
    display: flex;
    animation: none;
}

#difficulty-select-wrapper {
    display: flex;
    margin-bottom: calc(0.1 * var(--card-width));
    align-items: center;
    column-gap: calc(0.1 * var(--card-width));
}

#difficulty-select-wrapper > p { margin: 0 !important; }

#difficulty-select {
    padding: 0.1em 0.2em;

    background-color: var(--theme-gray);
    border: none;
    border-radius: 0.16em;

    color: var(--theme-black);
    font: 600 calc(0.24 * var(--card-width)) / 1.5 "Signika", sans-serif;

    cursor: pointer;
}

#handicap-id {
    position: absolute;
    right: 1em;
    top: 0.5em;
    color: var(--theme-gold-light);
    font: 600 calc(0.33* var(--card-width)) "Signika", sans-serif;
    z-index: 9999999;
}

/**************************** Handicap styling ****************************/

#captcha-content { animation: none; }

#captcha-content button:first-child:hover {
    opacity: 0;
    animation: fadeIn 150ms reverse 1;
    cursor: default;
}

#captcha-content button:last-child {
    background-color: var(--theme-gray);
    color: var(--theme-black);
}
#captcha-content button:last-child:hover { background-color: var(--theme-white); }
#captcha-content button:last-child:active { background-color: var(--theme-dark-gray); }

#flashbang-div {
    display: none;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-white);
    animation: fadeIn 1s reverse 1;
    pointer-events: all;
}

#fish-spot {
    background-color: transparent;
    border: none;
}

#handicap-vignette {
    --coverage: 0;

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
    z-index: 9999999;
}

#handicap-vignette::before {
    --radius: calc((0.9 - var(--coverage) / 2) * 80%);

    position: absolute;
    top: calc(50% - var(--radius));
    left: calc(50% - var(--radius));
    right: calc(50% - var(--radius));
    bottom: calc(50% - var(--radius));

    border-radius: 100%;
    box-shadow: 0 100vh 0 100vw var(--theme-black);
    content: "";
    transition: 0.1s top, 0.1s left, 0.1s right, 0.1s bottom;
}

/**************************** Pause styling ****************************/

#pause-menu { animation: none; }

/**************************** Animation keyframes ****************************/

/* Called twice--once before flipping card, and once after (reversed) */
@keyframes uncoverCard {
    0%, 100% { transform: scale(1, 1) }
    50% { transform: scale(0, 1.25) }
}

@keyframes cycleCardFromDeck {
    from {
        right: calc(-1.5* var(--card-width) - 0.025* var(--card-height));
        transform: scale(1, 1);
        z-index: 999999;
    }
    50% {
        transform: scale(0, 1.1);
    }
    to {
        right: 0;
        transform: scale(1, 1);
        z-index: 999999;
    }
}

@keyframes moveCardBackToDeck {
    from {
        left: calc(-1.5* var(--card-width) - 0.025* var(--card-height));
        z-index: 999999;
    }
    to {
        left: 0;
        z-index: 999999;
    }
}

/* Used to move a card from a specific point to where it is now */
@keyframes cardMoveBackToStart {
    from {
        top: var(--start-top);
        left: var(--start-left);
        z-index: 999999;
    }
    to {
        top: 0;
        left: 0;
        z-index: 999999;
    }
}

/* Card animation on win condition */
@keyframes cardEndAnimation {
    from {
        top: var(--start-top);
        left: var(--start-left);
        opacity: 1;
        transform: scale(1);
    }
    25% { top: calc(var(--start-top) - 15%); }
    50% { top: calc(var(--start-top) + 25%); }
    75% { top: var(--start-top); }
    to {
        top: 100%;
        left: var(--end-left);
        opacity: 1;
        transform: scale(2);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes textScanline {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}

@keyframes restart7OfSpades {
    0% {
        opacity: 1;
        top: var(--start-top);
        left: var(--start-left);
        transform: scale(1) rotate(0);
        z-index: 999999;
    }
    100% {
        opacity: 1;
        top: calc(50vh - var(--card-height) / 2);
        left: calc(50vw - var(--card-width) / 2);
        transform: scale(2) rotate(360deg);
        z-index: 999999;
    }
}

/* Mobile Styles */

#rotation-div {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #060606;

    z-index: 9999999;
}

#rotation-div > h1 {
    padding: 0 0.5em;
    color: var(--theme-white);
    font: 700 3rem "Signika", sans-serif;
    text-align: center;
}

@media screen and (orientation: portrait) {
    #rotation-div { display: flex; }
}